
.label {
  font-weight: bold;
}

.link-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  cursor: pointer;
}

.link-button:hover {
  text-decoration: underline;
}

a:hover {
  text-decoration: underline;
}